html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

:local .root {
  margin-top: 20px;
}

:local .title {
  width: 430px;
  text-align: center;
}

:local .block {
  display: inline-block;
  width: 200px;
  text-align: center;
}

:local .input {
  text-align: center;
}

:local .equal {
  width: 30px;
  display: inline-block;
  text-align: center;
}
