html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  height: 100%;
}

:local .root {
  height: 100%;
}

:local .source, :local .compiled {
  display: inline-block;
  width: 49%;
  height: 100%;
  box-sizing: border-box;
}

:local .source {
  margin: 0;
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #dbdbdb;
  padding: 20px;
}

:local .compiled {
  vertical-align: top;
  padding: 0px 20px;
}
